@media (max-width: 1380px) {


  .header {
    &__content-left {
      width: 70%;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    &__content {
      padding: 40px 0;

      &__-left {
        width: 30%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    &__list {
      gap: 30px;
    }

    &__link-row {
      gap: 30px;
    }

    .aside {
      padding-right: 10px;
    }
  }

}

@media (max-width: 767px) {
  .header {
    &__link-row {
      display: none;
    }

    &__content-left {
      width: 100%;
    }

    &__content-right {
      width: 24px;
    }

    .aside {
      padding-right: 40px;
    }

    &__menu-btn {
      display: block;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      position: relative;
      margin-left: auto;
    }

    &__menu-btn::after,
    &__menu-btn::before {
      content: '';
      display: block;
      background-color: #333333;
      width: 24px;
      height: 2px;
      margin-bottom: 4px;
    }

    &__menu-btn:after {
      margin-bottom: 0;
    }

    &__menu-line {
      display: block;
      background-color: #333333;
      width: 24px;
      height: 2px;
      margin-bottom: 4px;
    }
  }

}

@media (max-width: 475px) {
  .header {
    .aside {
      padding-right: 0;
      padding-right: 0;
    }
  }
}

