.header {
  font-family: 'Circular Std Medium', sans-serif;;

  .main-row {
    flex-wrap: nowrap;
  }

  .aside {
    padding-top: 40px;
    padding-right: 40px;
  }

  .header__content {
    width: 100%;
    padding: 40px 50px;
    font-size: 17px;

    .header__content-left,
    .header__content-right {
      width: 50%;
    }

    .header__link-row {
      gap: 50px
    }

    .header__nav {

      .header__list {
        gap: 42px;

        li:first-child {
          position: relative;
        }

        li:first-child:before {
          content: "";
          position: absolute;
          background: #000000;
          width: 72px;
          height: 2px;
          bottom: -7px;
        }
      }

    }

    .header__search {
      border: none;
      font-family: 'Circular Std Medium', sans-serif;
      font-size: 17px;
    }

    .header__form {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .header__store-row {
      gap: 25px;
    }

  }
}