@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Medium'), local('CircularStd-Medium'),
        url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff'),
        url('CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro Regular'), local('SofiaPro-Regular'),
        url('SofiaPro-Regular.woff2') format('woff2'),
        url('SofiaPro-Regular.woff') format('woff'),
        url('SofiaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro SemiBold'), local('SofiaPro-SemiBold'),
        url('SofiaPro-SemiBold.woff2') format('woff2'),
        url('SofiaPro-SemiBold.woff') format('woff'),
        url('SofiaPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

