
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  color: #999999;
}

.wrapper-main {
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.element-table {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

a {
  color: #000000;

}
